{% load static %}
<div class="dropdown cart-dropdown">
    <a href="{% url 'cart:cart' %}" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" data-display="static">
        <i class="icon-shopping-cart"></i>
        <span class="cart-count">{{ cart_count }}</span>
        <span class="cart-txt">${{ grand_total|floatformat:0|intcomma }}</span>
    </a>

    <div class="dropdown-menu dropdown-menu-right">

        {% if cart_items %}
        <div class="dropdown-cart-products">
            {% for item in cart_items %}
            <div class="product">
                <div class="product-cart-details">
                    <h4 class="product-title">
                        <a href="product.html">{{ item.product.product_name }}</a>
                    </h4>

                    <span class="cart-product-info">
                        <span class="cart-product-qty">{{ item.quantity }}</span>
                        x &#8358;{{ item.product.price|floatformat:0|intcomma }}
                    </span>
                </div><!-- End .product-cart-details -->

                <figure class="product-image-container">
                    <a href="product.html" class="product-image">
                        <img src="{{ item.product.product_image1.url }}" alt="{{ item.product.product_name }}">
                    </a>
                </figure>

                <a href="{% url 'cart:remove_cart' item.product.id %}" class="btn-remove" title="Remove Product">
                    <i class="icon-close"></i>
                </a>
            </div><!-- End .product -->
            {% endfor %}
        </div><!-- End .dropdown-cart-products -->

        <div class="dropdown-cart-total">
            <span>Grand Total</span>
            <span class="cart-total-price">&#8358;{{ grand_total|floatformat:0|intcomma }}</span>
        </div><!-- End .dropdown-cart-total -->

        <div class="dropdown-cart-action">
            <a href="{% url 'cart:cart' %}" class="btn btn-primary">View Cart</a>
            <a href="#" class="btn btn-outline-primary-2">
                <span>Checkout</span><i class="icon-long-arrow-right"></i>
            </a>
        </div><!-- End .dropdown-cart-action -->

        {% else %}
        <div class="dropdown-cart-products">
            <p class="text-center">Your cart is empty <br>
                <small >You have 0 items in your cart.</small>
            </p>
           
        </div>
        {% endif %}

    </div><!-- End .dropdown-menu -->
</div><!-- End .cart-dropdown -->